*{
    padding:0;
    margin:0;
    font-family:Arial;
    text-align:center;
}
#boxcontainer{
    display:flex;
    gap:0.5rem;
    background-color:rgba(0,0,0,0.5);
    padding:1rem;
    margin-bottom:10px;
}
.box{
    width:50%;
    height:80vmin;
    color:#ffffff;
    text-align:left;
    padding-top:0.8rem;
    padding-left:0.5rem;
    font-weight:bolder;
    font-size:2rem;
    transition:background-image 0.3s ease-in-out;
}
#box1{
    background-image:url("https://images.unsplash.com/photo-1629198688000-71f23e745b6e?q=80&w=880&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size:cover;
}
#box2{
    background-image:url("https://images.unsplash.com/photo-1608979048467-6194dabc6a3d?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size:cover;
}
.add{
    width:100%;
    background-color:#ffffff;
    color:black;
    height:10vmin;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    top:67vmin;
    visibility:hidden;
    right:4px;
    font-size:1.5rem;
    height:4rem;
}

/*card*/
#cardcontainer{
    height:70vmin;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:30px;
    background:linear-gradient(135deg, #8e2de2, #4a00e0, #00c6ff);
    padding:0.4rem;
    border-radius:1rem;
    display:inline-block;
}
#card{
    height:70vmin;
    width:70vmin;
    background-color:#1e1e1e;
    border-radius:1rem;
    color:#ffffff;
    font-size:2rem;
    
}
#head{
    padding-top:2rem;
    text-align:left;
    margin-left:2rem;
    font-size:2rem;
}
.op{
    border:2px solid rgba(255, 255, 255,0.1);
    display:flex;
    margin-left:1rem;
    border-radius:8px;
    background-color:#2a2a2a;
    height:4rem;
    align-items:center;
    margin-left:2rem;
    gap:1rem;
    width:95%;
    height:6rem;
}
#optioncontainer{
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:2rem;

    width:90%;
    margin-top:3rem;

}
.checkbox{
    margin-left:1.2rem;
    margin-right:0.7rem;
    accent-color:#7b61ff;
    transform:scale(3);
}
.brand-name{
    font-weight:bold;
    font-size:1.8rem;
    width:65%;
    text-align:left;
}


.icon{
    font-size:2rem;
    color:#bbbbbb;
    

}